* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #222429 !important;
}
.App {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 40px;
  font-size: 16px;
}
h1 {
  color: forestgreen;
}
input {
  padding-left: 5px;
  font-size: 20px;
  width: 250px;
  height: 30px;
}
table {
  width: 480px;
  border-collapse: separate;
}
thead {
  color: black;
  text-align: center;
}
tbody > tr {
  color: black;
}

.rank {
  text-align: center;
  font-weight: bold;
}
.logo {
  display: flex;
  gap: 10px;
}

.symbol {
  text-align: center;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04aa6d;
  color: white;
}
.dropbtn {
  background-color: #fbd03b;
  color: black;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 1.25rem;
  width: 150px;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #fbd03bbf;
}

#myInput {
  box-sizing: border-box;
  background-image: url('assets/search.png');
  background-position: 14px 8px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 40px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {
  outline: 3px solid #fbd03b;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-search {
  position: fixed;
  width: 228px;
  border-radius: 1rem;
}

.dropdown-content {
  border-radius: 1rem;
  height: 200px;
  overflow: auto;
  width: 200px;
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 100;
  margin-top: 5px;
}
.optionContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: start;
  padding: 10px;

  color: black;

  text-decoration: none;

  border-bottom: 0.5px solid #fbd03b;
}
.dropdown-content::-webkit-scrollbar {
  display: none;
}

.dropdown-content a {
  text-decoration: none;
}

.dropdown .optionContainer:hover {
  background-color: #ddd;
}
.imageContainer {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.show {
  display: block;
}
